body {
  /* font-family: sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}



@media (min-width:801px) {
  h1 {
    font-size: 4em;
  }
  .wholeBody {
      margin-left: 22.5%;
      margin-right: 7.5%;
  }
}

@media (min-width: 501px) and (max-width:800px) {
  h1 {
    font-size: 3em;
  }
  .wholeBody {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width:500px) {
  h1 {
    font-size: 2.5em;
  }
  .wholeBody {
    margin-left: 5%;
    margin-right: 5%;
  }
}